body {
    font-size: 13px;
    font-family: "open sans", Arial, Helvetica;
    line-height: 1;
}

li {
    display: inline-block;
    position: relative;
}
div.nav{
    height: 20px;
    margin-top: 10px;
}
 div.nav ul{
     float: right;
     /* display: inline-block; */
     /* position: relative; */
 }

.sblock{
    margin: 100px auto 0 auto;
    width: fit-content;
    padding: 0;
}