.body {
    font-size: 13px;
    font-family: "open sans", Arial, Helvetica;
    display: flex;
    flex-flow: column;
    /* width: 100%;*/
    min-height: 100vh;
    /* min-width: 540px; */
    /* min-height: 500px; */
}


.nav {
    flex: 1 auto;
    padding: 10px 10px 10px 0;
}

.navList {
    display:flex;
    flex-flow: row;
    justify-content:flex-end;
    align-items: center;
}

.navList li {
    flex:0 auto;
    margin: 0 10px 0 10px;
}

a:hover {
    text-decoration: underline;
}

.appblk,
.notblk {
    height: 2em;
    width: 2em;
    background: url("../images/i1_1967ca6a.png")top left;
}

.actblk {
    height: 2.71em;
    width: 2.71em;
    background-image: url(../images/photo.png);
    background-position: -3px -2px;
    background-size: 39px;
    border-radius: 50%;
}

.notblk {
    height: 1.87em;
    width: 1.87em;
    background-color: darkslategray;
    border-radius: 50%;
    background-size: 423px;
    background-position: -312px -1px;
}

.appblk {
    background-position: -134px -40px;
}

.sblock {
    flex: 50 auto;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

img {
    transform: scale(0.5);
    flex: 0 auto;
}
form{
    display: flex;
    flex-flow: column;
}
.sbox {
    min-width:550px ;
    flex: 1 100%;
    line-height: 3.5em;
    border: 0px grey solid;
    box-shadow: 0 1px 3px 0px;
    margin-bottom: 20px;
    padding: 0 1rem;
}
.sbox:focus {
    outline: none;
}
.btns{
    margin: 0 auto;
}
.inp1,
.inp2 {
    padding: 1.3rem;
    background-color: rgb(243, 243, 243);
    border: none;
    font-size: 0.9rem;
    font-weight: 700;
    color: rgb(116, 116, 116);
}

.lang {
    margin: 20px auto;
    word-spacing: 0.2rem;
}

.sblock a {
    color: blue;
}

footer {
    flex: 2 auto;
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(197, 197, 197, 0.185);
    line-height: 2.8;
    font-size: 13px;
    color: rgb(128, 128, 128);
}

.l1 {
    padding-left: 20px;
}

.l2 {
    padding-right: 20px;
}


.p1 {
    padding-left: 32px;
    font-size: 16px;
}

.p2 {
    font-size: 16px;
    padding-right: 32px;
    color: rgba(190, 190, 190, 0.295);
}

footer p,
.fp {
    flex: 1 100%;
    display: flex;
    border: solid rgba(167, 167, 167, 0.199);
    border-width: 1px 0 0 0;
    justify-content:space-between;
}
.fp ul{
    display: flex;
}
.l1 li,
.l2 li {
    padding: 0 12px;
}